/*this style is for log-in page*/
@media screen and(min-width:900px){

.mains {
  height: 100vh;
  position: fixed;
}
}
.logo {
  width: 50%;
  height: 200px;
  margin: auto;
}
.logo_name{
  color: purple;
 
  border-radius: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
}


.log_in_body {
  background-color: #e9edc9;
}

.form {
  background-color: #cfbaf0;
}

.title {
  text-align: center;
  background-color: #8338ec;
  color: white;
}

.button {
  text-align: center;
}

div a {
  text-decoration: none;
}

.log_in {
  width: 70%;
}

.border {
  border-radius: 10px;
}



#title {
  color: white;
}

/*this style is for log-in*/

/*This style is for Home Page*/
.nav-wrap {
  max-height: 50px;

}

.me-2 {
  max-width: 60%;
}

.brand {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #00b4d8;
 
  border-radius: 10px;

}

.navs {
  background-color: #81e0f3;

}

.icons {
  padding-left: 100%;
}

/*this is for right element styling*/
.left {
  border-right: 1px solid black;
}

a:hover {
  background-color: bisque;
  border-radius: 6px;
}

.right_row .user_profile_img {
  max-width: 240px;
  max-height: 50px;
}

.mains {
  background-color: #e9edc9;
  height: 100vh;
}

.left_container {
  overflow-y: scroll;
  height: 100vh;

}

body {
  width: cover;
  overflow-x: hidden;
  padding-top: 45px;
 
}
/*this for center styling */
.content_wrap{
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}
.user_upload{

  background-color: #00b4d8;
  height: 0;

  padding-bottom: 50%;
  
}
video{
  max-height: 550px;
  width: 100%;
}

.group,.upload_buttons{
  background-color: white;
 
}
@media (min-width: 992px) {
  .group,.upload_buttons {
    width: 80%;
  }
}
 .btn-style{
  background-color: #79832d;
 }










/*this style is for right-side*/
.right{
  height: 100vh;
}