/*this style is for log-in page*/
.intro {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo {
  width: 50%;
  height: 200px;
  margin: auto;
}
#logo_name {
  color: white;
}
.log_in_body {
  background-color: #f8f9fa;
}

.form {
  background-color: #48cae4;
}
.button {
  text-align: center;
}
div a {
  text-decoration: none;
}
.log_in {
  width: 70%;
}
.border {
  border-radius: 10px;
}

#title {
  color: white;
}
/*this style is for log-in*/

/*This style is for nav-section*/
.nav-wrap {
  max-height: 50px;
}

.navig_small {
  height: 100vh;
}
.brand {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #00b4d8;
  border-radius: 10px;
}
.navs {
  background-color: #00b4d8;
}
/*this is for left element styling*/
a:hover {
  background-color: #ade8f4;
  border-radius: 6px;
}
footer {
  overflow-x: hidden;
}
.right_row .user_profile_img {
  max-width: 240px;
  max-height: 50px;
}
.mains {
  background-color: #f8f9fa;
}

.left_container {
  overflow-y: scroll;
  height: 100vh;
}
body {
  max-width: 100%;
  overflow-x: none;
  padding-top: 45px;
}
/*this for center styling */
.content_wrap {
  height: 100vh;
  overflow-y: scroll;
}

video {
  max-height: 550px;
  width: 100%;
}

.group,
.upload_buttons {
  background-color: white;
}
@media (min-width: 992px) {
  .group,
  .upload_buttons {
    width: 80%;
  }
}

/*this style is for right-side*/
.right {
  height: 100vh;
  overflow-y: scroll;
}
.ads img {
  max-width: 50%;
  height: 80%;
}
.ads {
  height: 150px;
}
.group {
  max-width: 100%;
}
body {
  overflow: hidden;
}
li:hover {
  background-color: #ade8f4;
}
button:hover {
  background-color: #ade8f4;
}
/*  */

.infor {
  background-color: #e0fbfc;
}
