
/*this style is for log-in page*/
.log_in_body{
  background-color: #e9edc9;
}
.form{
  background-color: #bde0fe;
}
.h2{
  text-align: center;
}
.button{
  text-align: center;
}
div a{
  text-decoration: none;
}
.log_in{
  width: 50%;
}
/*this style is for log-in*/

/*This style is for Home Page*/
.nav-wrap{
  max-height: 50px;
 
}
.me-2{
  max-width: 60%;
}
.brand{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  background-color:#00b4d8;
  color: white;
  border-radius: 10px;
 
}
.navs{
  background-color: #81e0f3;
  
}
.icons{
  padding-left:100%;
}

  /*this is for right element styling*/
.left{
  border-right: 1px solid black;
}
a:hover{
background-color: bisque;
}
.right_row .user_profile_img{
  max-width: 240px;
  max-height: 50px;
}
.mains{
  background-color:#e9edc9;
}
.left_container{
  overflow-y: scroll;
  height: 100vh;
  
}
body{
  width: cover;
  overflow-x: hidden;
  padding-top: 45px;
}